<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Rates Result</title>
    </head>
    <body>
        <h1>Applied Rates</h1>
        <p>The <%= weight %>oz. <%= mailType %> costs $<%= price %> at a rate of $<%= rate %>/oz.</p>
        <button onclick="window.location.href='/'">RETURN</button>
    </body>
</html>
