/* Style sheet for dashboard */
.link {
    color: #007bff !important;
    text-decoration: none !important;
    background-color: transparent !important;
}
.link:hover {
    color: #0056b3 !important;
    cursor: pointer !important;
    text-decoration: underline !important;
}
.link:-webkit-any-link {
    color: -webkit-link !important;
    cursor: pointer !important;
    text-decoration: underline !important;
}
.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

#dateGroup {
    display: none;
}

.input-disabled {
    background-color: white !important;
    border: none !important;
    color: black;
    cursor: default !important;
}
