<h1>Welcome to your Dashboard, <%= name %></h1>
<h4>Here is a summary:</h4>
<table class="table">
    <thread>
        <tr>
            <th scope="col"></th>
            <th scope="col">Bundles</th>
            <th scope="col">Waiver Signatures</th>
            <th scope="col">Rentals</th>
        </tr>
    </thread>
    <tbody>
        <tr>
            <th scope="row">Total</th>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
            <!-- <td><%# bundlesNum %></td>
            <td><%# signNum %></td>
            <td><%# rentalsNum %></td> -->
        </tr>
    </tbody>
</table>