<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="icon" href="/media/db.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- This will be in a different file. It's in here for development -->
    <script>
        var isValidEmail = false;
        var isValidUsername = false;
        $(document).ready(() => {
            /**
             * This will log the user in
             * */
            $("#submit").click(() => {
                let username=$("#username").val();
                let password=$("#password").val();
                
                // validate for empty parameters
                if(!username || !password) {
                    $('#invalidLogin').html('Invalid username or password').show();
                } else {
                    login(username, password);
                }

            });
            
            /**
             * This will validate before submitting new user request
             * */
            $('#addNewUser').click( async () => {
                let username   = $("#newUsername").val();
                let password1  = $("#newPassword1").val();
                let password2  = $("#newPassword2").val();
                let email      = $("#newEmail").val();
                let schemaCode = $("#schemaCode").val();
                let emailRegex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                
                /**
                 * START validation
                 * */

                // for username already used
                await validateUsernameAgainstDB();

                // for email already used
                await validateEmailAgainstDB(email);

                // for empty username
                if(!username) {
                    $('#invalidUsername').html('Please choose a username.').show();

                // for username already used
                } else if (!isValidUsername) {
                    $('#invalidUsername').html('Username already in use.').show();

                // for invalid email
                } else if (!email.match(emailRegex)) {
                    $('#invalidEmail').html('Please choose a valid email.').show();

                // for email already used
                } else if (!isValidEmail) {
                    $('#invalidEmail').html('Email already in use.').show();

                // for empty password
                } else if (!password1) {
                    $('#invalidPassword1').html('Please choose a password').show();

                // for not matching passwords
                } else if(!password1.match(password2) || !password2) {
                    $('#invalidPassword1').hide();
                    $('#invalidPassword2').html("Passwords don't match.").show();

                // for empty DB code
                } else if(!schemaCode) {
                    $('#invalidSchemaCode').html('Please the enter requested schema code.').show();
                /**
                 * END validation
                 * */
                // if it got to here then it has past all the validation
                // SEND the new user to the DB
                } else {
                    $('#invalidUsername').hide();
                    $('#invalidEmail').hide();
                    $('#invalidPassword').hide();
                    $('#invalidSchemaCode').hide();
                    $.post("/addNewUser", { username: username, email: email, password: password2, schemaCode: schemaCode }, (data) => {
                        if (data === "success") {
                            $('body').html("<p>logging in...</p>");
                            login(username, password2);
                        }
                    });
                } 
            });
            
            $('#newUsername').change( async () => {
                await validateUsernameAgainstDB();
                if(isValidUsername) {
                    $('#invalidUsername').hide();
                } else {
                    $('#invalidUsername').html('Username already in use.').show();
                }
            });

            $('#newPassword1').change(() => {
                // TODO: regex validate password here
            });

            $('#signup').hide();
        });

        const validateEmailAgainstDB = async (email) => {
            if(email) {
                await $.post("/addNewUser", { email: email }, (response) => {
                    if (!response.isUnique) {
                        isValidEmail = false;
                    } else {
                        isValidEmail = true;
                        $('#invalidEmail').hide();
                    }
                });
            }
        }

        const validateUsernameAgainstDB = async () => {
            let username = $('#newUsername').val();
            // TODO: validate for empty string here
            await $.post("/addNewUser", { username: username }, (response) => {
                if (!response.isUnique) {
                    isValidUsername = false;
                } else {
                    isValidUsername = true;
                    $('#invalidUsername').hide();
                }
            });
        };

        const showSignup = () => {
            $('#login').hide();
            $('#signup').show();
            $('#newUsername').focus();
        };
        const showLogin = () => {
            $('#signup').hide();
            $('#login').show();
            $('#username').focus();
        };

        const login = (username, password) => {
            $.post("/login", { username: username, password: password }, (data) => {
                if(data === 'valid') {
                    $('#invalidLogin').hide();
                    $('body').html("<p>logging in...</p>");
                    window.location.href="/dashboard";
                } else {
                    $('#invalidLogin').html('Invalid username or password').show();
                }
            });
        };
    </script>

    <!-- This will be in a different file. It's in here for development -->
    <style>
        .link {
            color: #007bff !important;
            text-decoration: none !important;
            background-color: transparent !important;
        }
        .link:hover {
            color: #0056b3 !important;
            cursor: pointer !important;
            text-decoration: underline !important;
        }
        .link:-webkit-any-link {
            color: -webkit-link !important;
            cursor: pointer !important;
            text-decoration: underline !important;
        }
        .invalid-feedback {
            display: none;
            width: 100%;
            margin-top: 0.25rem;
            font-size: 80%;
            color: #dc3545;
        }
    </style>
</head>
<body>
    <div class="ml-5 mt-5">
        <div class="row">
            <!-- about slide START -->
            <div class="col-md-4 col-sm-12">
                <div class="d-flex height-100-percentage padding-30px">
                    <div class="align-self-center width-100-percentage">
                        <h2>Your Database Host</h2>
                        <p>This is a place to store your database and edit it through an intuitive UI.</p>
                        <a class="btn btn-primary btn-lg" href="/about" role="button">Learn More</a>
                    </div>
                </div>
            </div>
            <!-- about slide END -->
            <!-- login slide START -->
            <div id="login" class="col-md-4 col-sm-12">
                <div class="login-form-slider">
                    <div class="login-slide slide">
                        <div class="d-flex height-100-percentage max-width-400 margin-0-auto padding-10px">
                            <div class="align-self-center width-100-percentage">
                                <h2>Sign in to your account</h2>
                                <div class="floating-form" autocomplete="off">
                                    <div id="invalidLogin" class="invalid-feedback"></div>
                                    <div class="form-group">
                                        <input type="text" size="30" name="username" id="username" autofocus class="form-control">
                                        <label class="label">User name</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" size="30" id="password" class="form-control">
                                        <label class="label">Password</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="button" class="submit" id="submit" value="Sign In">
                                    </div>
                                </div>
                                <div class="sign-up-txt">
                                    Don't have an account? <a onclick="showSignup();" class="link">Signup</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- login slide END -->
            <!-- signup slide START -->
            <div id="signup" class="col-md-4 col-sm-12">
                    <h2>Create a new account</h2>
                <div class="floating-form">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label">Username</label>
                                <input id="newUsername" type="text" class="form-control">
                                <div id="invalidUsername" class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label">Email</label>
                                <input id="newEmail" type="text" class="form-control">
                                <div id="invalidEmail" class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label">Password</label>
                        <input id="newPassword1" type="password" class="form-control">
                        <div id="invalidPassword1" class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label class="label">Confirm Password</label>
                        <input id="newPassword2" type="password" class="form-control">
                        <div id="invalidPassword2" class="invalid-feedback"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label">Database code</label>
                                <input id="schemaCode" type="text" class="form-control" value="3P9neWyNS" disabled>
                                <div id="invalidSchemaCode" class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                    <div class="sign-up-txt form-group">
                        <!-- Don't have a code? <a onclick="showCodeRequest();" class="link">Order one</a> -->
                        Don't have a code? <a href="#">Get Started</a>
                    </div>
                    <div class="form-group">
                        <input id="addNewUser" type="button" class="submit" value="Sign Up">
                    </div>
                </div>
                <div class="sign-up-txt">
                    Already have an account? <a onclick="showLogin();" class="link">Login</a>
                </div>
            </div>
            <!-- signup slide END -->
            <div class="col-md-4 col-sm-12"></div>
        </div>
    </div>
</body>
</html>