<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="icon" href="/media/db.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        var username,pass;
        $("#submit").click(function(){
            username=$("#username").val();
            pass=$("#password").val();
            /*
            * Perform some validation here.
            */
            $.post("/login",{username:username,pass:pass},function(data){
                if(data==='valid') {
                    window.location.href="/dashboard";
                }
            });
        });
    });
    </script>
</head>
<body>
<!-- login slide start -->
    <div class="ml-5 mt-5">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="d-flex height-100-percentage padding-30px">
                    <div class="align-self-center width-100-percentage">
                        <h2>Your Database Host</h2>
                        <p>This is a place to store your database and edit it through an intuitive UI.</p>
                        <a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="login-form-slider">
                    <!-- login slide start -->
                    <div class="login-slide slide">
                        <div class="d-flex height-100-percentage max-width-400 margin-0-auto padding-10px">
                            <div class="align-self-center width-100-percentage">
                                <h2>Sign in to your account</h2>
                                <div class="floating-form" autocomplete="off">
                                    <div class="form-group">
                                        <input type="text" size="30" name="username" id="username" autofocus class="form-control">
                                        <label class="label">User name</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" size="30" id="password" class="form-control">
                                        <label class="label">Password</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="button" class="submit" id="submit" value="Sign In">
                                    </div>
                                </div>
                                <div class="sign-up-txt">
                                    Don't have an account? <a href="#" class="sign-up-click">Signup</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12"></div>
        </div>
    </div>
<!-- login slide end -->
<!-- signup slide start -->
    <!-- <div class="floating-form">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="label">Name</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="label">Email</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="label">Password</label>
            <input type="password" class="form-control">
        </div>
        <div class="form-group">
            <label class="label">Confirm Password</label>
            <input type="password" class="form-control">
        </div>
        <div class="form-group">
            <input type="submit" class="submit" value="Sign Up">
        </div>
    </div>
    <div class="sign-up-txt">
        if you have an account? <a href="" class="login-click">login</a>
    </div> -->
<!-- signup slide end -->
</body>
</html>