<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="icon" href="/media/db.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/js/inputValidation.js"></script>
</head>
<body>
    <div class="ml-5 mt-5">
        <div class="row">
            <!-- about slide START -->
            <div class="col-md-4 col-sm-12">
                <div class="d-flex height-100-percentage padding-30px">
                    <div class="align-self-center width-100-percentage">
                        <h2>Your Database Host</h2>
                        <p>This is a place to store your database and edit it through an intuitive UI.</p>
                        <a class="btn btn-primary btn-lg" href="/about" role="button">Learn More</a>
                    </div>
                </div>
            </div>
            <!-- about slide END -->
            <!-- login slide START -->
            <div id="login" class="col-md-4 col-sm-12">
                <div class="login-form-slider">
                    <div class="login-slide slide">
                        <div class="d-flex height-100-percentage max-width-400 margin-0-auto padding-10px">
                            <div class="align-self-center width-100-percentage">
                                <h2>Sign in to your account</h2>
                                <div class="floating-form" autocomplete="off">
                                    <div id="invalidLogin" class="invalid-feedback"></div>
                                    <div class="form-group">
                                        <input type="text" size="30" name="username" id="username" autofocus class="form-control">
                                        <label class="label">User name</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" size="30" id="password" class="form-control">
                                        <label class="label">Password</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="button" class="submit" id="loginSubmit" value="Sign In">
                                    </div>
                                </div>
                                <div class="sign-up-txt">
                                    Don't have an account? <a onclick="showSignup();" class="link">Signup</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- login slide END -->
            <!-- signup slide START -->
            <div id="signup" class="col-md-4 col-sm-12">
                    <h2>Create a new account</h2>
                <div class="floating-form">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label">Username</label>
                                <input id="newUsername" type="text" class="form-control">
                                <div id="invalidUsername" class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label">Email</label>
                                <input id="newEmail" type="text" class="form-control">
                                <div id="invalidEmail" class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="label">Password</label>
                        <input id="newPassword1" type="password" class="form-control">
                        <div id="invalidPassword1" class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <label class="label">Confirm Password</label>
                        <input id="newPassword2" type="password" class="form-control">
                        <div id="invalidPassword2" class="invalid-feedback"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="label">Database code</label>
                                <input id="schemaCode" type="text" class="form-control" value="3P9neWyNS" disabled>
                                <div id="invalidSchemaCode" class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>
                    <div class="sign-up-txt form-group">
                        <!-- Don't have a code? <a onclick="showCodeRequest();" class="link">Order one</a> -->
                        Don't have a code? <a href="#">Get Started</a>
                    </div>
                    <div class="form-group">
                        <input id="addNewUser" type="button" class="submit" value="Sign Up">
                    </div>
                </div>
                <div class="sign-up-txt">
                    Already have an account? <a onclick="showLogin();" class="link">Login</a>
                </div>
            </div>
            <!-- signup slide END -->
            <div class="col-md-4 col-sm-12"></div>
        </div>
    </div>
</body>
</html>